DATABASE_URL=""
PROVIDER_IDS="ebay,amazon,aliexpress"
EBAY_CLIENT_ID=""
EBAY_CLIENT_SECRET=""
EBAY_MARKETPLACE_ID="EBAY_MOTOR"
AMAZON_ACCESS_KEY_ID=""
AMAZON_SECRET_ACCESS_KEY=""
AMAZON_PARTNER_TAG=""
AMAZON_HOST="webservices.amazon.com"
AMAZON_REGION="us-east-1"
ALIEXPRESS_APP_KEY=""
ALIEXPRESS_APP_SECRET=""
ALIEXPRESS_TRACK_ID=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# Google Ad Manager network/ad unit root, for example /1234567/parts-vertical
NEXT_PUBLIC_GAM_AD_UNIT_PATH=""
CAP_SERVER_URL=""
DEMO_MODE="false"
NEXT_PUBLIC_DEMO_MODE="false"
SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_STORAGE_BUCKET="torque-autopart-uploads"
